 $white : #ffffff;
 $black : #222222;
 $lightDark : #555555;
 $transparent : transparent;

 /*Global Style*/
 * {
   margin: 0;
   padding: 0;
   outline: none;
 }

 body {
   /*Google Font*/
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   margin: 0;
   font-size: 16px;

   a {
     text-decoration: none;

     &:hover {
       text-decoration: none;
     }
   }

   .logo-circle {
     height: 26px;
     width: 26px;
     border: 4px solid $white;
     display: inline-block;
     margin-bottom: -2px;
     border-radius: 50%;
     position: relative;

     &::before {
       content: '';
       height: 8px;
       width: 8px;
       background: $white;
       border-radius: 50%;
       position: absolute;
       left: 50%;
       top: 50%;
       margin-left: -4px;
       margin-top: -4px;
     }
   }

   .mybtn2,
   .mybtn1 {
     font-size: 16px;
     font-weight: 600;
     text-transform: uppercase;
     border-radius: 50px;
     padding: 12px 36px;
     border: none;
     position: relative;
     overflow: hidden;
     z-index: 1;

     &:focus {
       box-shadow: none;
     }

     &::before {
       content: '';
       position: absolute;
       left: 0;
       top: 0;
       width: 0%;
       background: rgba(0, 0, 0, 0.1);
       height: 100%;
       z-index: -1;
       transition: all 0.3s ease;
     }

     &:hover {
       &::before {
         width: 100%;
       }
     }
   }

   .mybtn1 {
     background-color: $white;
   }

   .mybtn2 {
     color: $white;


     &:hover {
       color: $white;
     }
   }


   .section-title {
     margin-bottom: 60px;
     text-align: center;

     .title {
       font-size: 16px;
       font-weight: 500;
       line-height: 24px;
       display: inline-block;
       text-transform: uppercase;
       margin: 0 0 15px;
       position: relative;
       padding: 5px 10px;
       z-index: 1;

       &::before {
         content: '';
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         background: black;
         z-index: -1;
         border-radius: 5px;
         opacity: 0.1;
       }
     }

     .subtitle {
       font-size: 30px;
       line-height: 38px;
       color: $black;
       font-weight: 700;
       margin: 0;
     }
   }

   .bg-light {
     background: #f5f5ff;
   }

   @media (max-width:575px) {
     .container {
       padding-left: 30px;
       padding-right: 30px;
     }
   }

   /* Preloader */
   .preloader {
     position: fixed;
     left: 0;
     top: 0;
     right: 0;
     bottom: 0;
     background: #222222;
     z-index: 1100;
     display: flex;
     align-items: center;
     justify-content: center;

     .loader {
       height: 50px;
       width: 50px;
       border: 5px solid #ffffff;
       border-right: 5px solid transparent;
       border-radius: 50%;
       animation: preloader 1s linear infinite;

       @keyframes preloader {
         0% {
           transform: rotate(0deg);
         }

         100% {
           transform: rotate(360deg);
         }
       }
     }
   }

   /* Header Section*/
   .header {
     border-bottom: 1px solid rgba(255, 255, 255, 0.2);

     @media(max-width: 991px) {
       padding: 5px 0;
     }

     .navbar {
       padding: 0;

       &.navbar-light {
         .navbar-brand {
           font-size: 30px;
           font-weight: 700;
           text-transform: uppercase;
           color: $white;
         }

         @media(max-width: 991px) {
           .navbar-toggler {
             background: #ffffff;
             padding: 0;
             height: 38px;
             width: 45px;
             border: none;

             &:focus {
               outline: none;
             }

             .navbar-toggler-icon {
               //  background: none;
               height: 2px;
               width: 24px;
               position: relative;

               &::before,
               &::after {
                 content: '';
                 position: absolute;
                 height: 2px;
                 width: 100%;
                 left: 0;
                 top: -6px;
               }

               &::after {
                 top: 6px;
               }
             }
           }
         }
       }

       #collapsibleNavbar {
         .navbar-nav {
           @media(max-width: 991px) {
             background: $white;
           }

           .nav-item {
             .nav-link {
               color: $white;
               font-size: 16px;
               text-transform: capitalize;
               font-weight: 600;
               padding: 20px 15px 20px;
               line-height: 26px;
               opacity: 0.6;

               &.active {
                 opacity: 1;
               }

               @media(max-width: 991px) {
                 padding: 10px 15px 10px;
               }
             }
           }
         }
       }
     }
   }

   /*Home Section*/
   .home-section {
     padding: 250px 0 200px;
     position: relative;
     z-index: 1;
     overflow: hidden;

     @media(max-width: 991px) {
       padding: 150px 0 150px;
     }

     &::before {
       content: '';
       position: absolute;
       left: 0;
       right: 0;
       bottom: -1px;
       height: 112px;
       background-image: url("../images/shape-bg.png");
       background-size: cover;
       background-position: bottom;
       background-repeat: no-repeat;
       z-index: 1;
     }

     .home-content {
       h1 {
         font-size: 55px;
         color: $white;
         font-weight: 700;
         line-height: 60px;
         margin: 0;

         @media(max-width: 991px) {
           font-size: 40px;
           line-height: 44px;
         }

         @media(max-width: 767px) {
           font-size: 40px;
           line-height: 44px;
         }
       }

       p {
         color: $white;
         font-size: 18px;
         margin-top: 20px;
         margin-bottom: 40px;
         line-height: 28px;
         font-weight: 400;
       }
     }

     .home-img {
       img {
         max-width: 400px;
         width: 100%;
         position: absolute;
         left: 150px;
         top: -50px;
         animation: productani01 5s linear infinite;

         @keyframes productani01 {

           0%,
           100% {
             transform: translateY(15px);
           }

           50% {
             transform: translateY(-15px);
           }
         }

         @media(max-width: 1199px) {
           position: relative;
           left: auto;
           top: auto;
         }
       }

       @media(max-width: 1199px) {
         text-align: center;
       }

       @media(max-width: 991px) {
         margin-bottom: 40px;
       }
     }

     .bg-shapes {
       div {
         position: absolute;
         opacity: 0.5;

         &:nth-child(1) {
           height: 100px;
           width: 100px;
           top: 20%;
           left: 20%;
           background-color: $white;
           border-radius: 50%;
           animation: shapeani01 5s linear infinite;

           @keyframes shapeani01 {

             0%,
             100% {
               transform: translateX(0px);
             }

             50% {
               transform: translateX(50px);
             }
           }
         }

         &:nth-child(2) {
           height: 80px;
           width: 80px;
           top: 60%;
           left: 60%;
           background-color: $transparent;
           border-radius: 50%;
           border: 5px solid $white;
           border-bottom: 5px solid $transparent;
           animation: shapeani02 7s linear infinite;
         }

         &:nth-child(3) {
           height: 60px;
           width: 60px;
           top: 10%;
           left: 90%;
           background-color: $transparent;
           border-radius: 50%;
           border: 5px solid $white;
           border-left: 5px solid $transparent;
           border-bottom: 5px solid $transparent;
           animation: shapeani02 7s linear infinite;
         }

         @keyframes shapeani02 {

           0% {
             transform: rotate(0deg);
           }

           100% {
             transform: rotate(360deg);
           }
         }


         &:nth-child(4) {
           height: 200px;
           width: 200px;
           top: 40%;
           left: calc(100% - 100px);
           background-color: $white;
           border-radius: 50%;
           animation: shapeani03 10s linear infinite;

           @keyframes shapeani03 {

             0%,
             100% {
               transform: scale(0.5);
             }

             50% {
               transform: scale(1);
             }
           }
         }

         &:nth-child(5) {
           height: 100px;
           width: 100px;
           top: 40%;
           left: calc(0% - 50px);
           background-color: $transparent;
           border: 5px solid $white;
           animation: shapeani02 10s linear infinite;

           @media(max-width: 767px) {
             top: 15%;
           }
         }
       }
     }
   }

   /*About Section*/
   .about-section {
     background: $white;
     padding: 80px 0 80px;

     .about-img {
       margin: auto;

       img {
         max-width: 350px;
         width: 100%;
       }
     }

     .section-title {
       text-align: left;
     }

     .about-content {
       p {
         font-size: 16px;
         line-height: 26px;
         color: $lightDark;
         margin: 0;
         font-weight: 400;
       }

       ul {
         display: block;
         margin: 30px 0 0;

         li {
           font-size: 16px;
           line-height: 26px;
           color: $lightDark;
           margin-bottom: 15px;
           font-weight: 400;
           position: relative;
           padding-left: 32px;

           i {
             height: 25px;
             width: 25px;
             display: inline-block;
             font-size: 16px;
             text-align: center;
             line-height: 26px;
             position: absolute;
             left: 0;
             top: 0;
           }
         }
       }
     }
   }

   /*Features Section*/
   .features-section {
     padding: 80px 0 50px;

     .features-item {
       box-shadow: 0 0 10px #dddde3;
       padding: 40px 30px;
       margin-bottom: 30px;
       background: $white;
       border-radius: 5px;
       text-align: center;
       transition: all 0.5s ease;

       &:hover {
         transform: translateY(-10px);

         i,
         h3,
         p {
           color: $white;
         }
       }

       .icon {
         margin-bottom: 25px;

         i {
           font-size: 40px;
           display: inline-block;
           transition: all 0.5s ease;
         }
       }

       h3 {
         font-size: 22px;
         font-weight: 600;
         color: $black;
         margin: 0 0 15px;
         line-height: 30px;
         transition: all 0.5s ease;
       }

       p {
         font-size: 16px;
         line-height: 26px;
         color: $lightDark;
         margin: 0;
         transition: all 0.5s ease;
         font-weight: 400;
       }
     }
   }

   /* Product Section */
   .products-section {
     padding: 80px 0 80px;
     background: $white;

     .products-item {
       box-shadow: 0 0 10px #dddde3;
       margin: 15px 0;

       .product-image {
         border-bottom: 1px solid #eeeeee;
         position: relative;

         img {
           width: 100%;
           display: block;
         }

         .overlay {
           position: absolute;
           left: 0;
           top: 0;
           height: 100%;
           width: 100%;
           background: rgba(0, 0, 0, 0.6);
           transition: all 0.5s ease;
           opacity: 0;
           z-index: 1;

           .btn {
             margin: auto;
             transform: translateY(100px);
             transition: all 0.5s ease;
           }
         }
       }

       &:hover {
         .product-image {
           .overlay {
             opacity: 1;

             .btn {
               transform: translateY(0px);
             }
           }
         }
       }

       .product-content {
         padding: 0 30px;
         text-align: center;

         .product-price {
           margin: 15px 0 5px;

           .new-price {
             font-size: 18px;
             font-weight: 700;
             display: inline-block;
             margin: 0 5px;
           }

           .old-price {
             font-size: 18px;
             display: inline-block;
             color: #959595;
             font-weight: 400;
           }
         }

         .product-name {
           font-size: 16px;
           font-weight: 600;
           color: $black;
           line-height: 26px;
           margin: 0;
           padding-bottom: 20px;
         }
       }
     }

     .owl-carousel {
       .owl-nav {
         text-align: center;
         margin-top: 40px;

         button {

           &.owl-next,
           &.owl-prev {
             height: 40px;
             width: 40px;
             display: inline-block;
             margin: 0 10px;
             border-radius: 50%;
             color: $white;
             font-weight: 500;
             overflow: hidden;

             &:focus {
               outline: none;
             }

             span {
               font-size: 40px;
               margin-top: -13px;
               display: block;
             }
           }
         }
       }
     }
   }

   /*Testimonial Section*/
   .testimonial-section {
     padding: 80px 0 80px;
     background-image: url('../images/bg-01.jpg');
     background-position: center;
     background-attachment: fixed;
     position: relative;
     z-index: 1;

     &::before {
       content: '';
       position: absolute;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       z-index: -1;
       opacity: 0.85;
     }

     .section-title {

       .title,
       .subtitle {
         color: $white;
       }

       .title {
         &::before {
           background: #ffff;
         }
       }
     }

     .testi-item {
       background: $white;
       padding: 30px;
       border-radius: 5px;

       .testi-comment {
         p {
           font-size: 16px;
           line-height: 26px;
           color: $lightDark;
           font-weight: 400;
           margin: 0 0 10px;
           font-style: italic;

           .fa-quote-left,
           .fa-quote-right {
             margin-right: 5px;
           }
         }

         .stars {
           margin: 0 0 20px;

           li {
             display: inline-block;
             margin: 0 1px;

             i {
               font-size: 13px;
               color: #ff9800;
             }
           }
         }
       }

       .client-info {
         position: relative;
         padding-left: 80px;
         padding-top: 5px;
         min-height: 60px;

         img {
           height: 60px;
           width: 60px;
           border: 2px solid $transparent;
           border-radius: 50%;
           position: absolute;
           left: 0;
           top: 0;
         }

         h5 {
           font-size: 16px;
           font-weight: 600;
           line-height: 26px;
           margin: 0 0 2px;
         }

         p {
           font-size: 16px;
           line-height: 26px;
           font-weight: 400;
           color: $lightDark;
         }
       }
     }

     .owl-carousel {
       .owl-nav {
         text-align: center;
         margin-top: 50px;

         button {

           &.owl-next,
           &.owl-prev {
             height: 40px;
             width: 40px;
             display: inline-block;
             margin: 0 10px;
             border-radius: 50%;
             font-weight: 500;
             overflow: hidden;
             background: $white;
             transition: all 0.5s ease;

             &:hover {
               color: $white;
             }

             &:focus {
               outline: none;
             }

             span {
               font-size: 40px;
               margin-top: -13px;
               display: block;
             }
           }
         }
       }
     }
   }

   /* Faq Section */
   .faq-section {
     padding: 80px 0 80px;


     .faq-item {
       margin-bottom: 40px;

       h4 {
         font-size: 18px;
         font-weight: 600;
         line-height: 28px;
         color: $black;
         margin: 0 0 10px;
       }

       p {
         font-size: 16px;
         line-height: 26px;
         color: $lightDark;
         font-weight: 400;
         margin: 0;
       }
     }

     .support-text {
       margin: 15px 0 0;
       font-size: 16px;
       font-weight: 600;
       color: $black;
       line-height: 26px;
     }
   }

   /* Newsletter Section */
   .newsletter-section {
     background-image: url(../images/bg-02.jpg);
     padding: 80px 0 80px;
     background-attachment: fixed;
     background-position: center;
     position: relative;
     z-index: 1;

     &::before {
       content: '';
       position: absolute;
       left: 0;
       top: 0;
       opacity: 0.85;
       height: 100%;
       width: 100%;
       z-index: -1;
     }

     .section-title {
       .title {
         &::before {
           background: $white;
         }
       }

       .title,
       .subtitle {
         color: $white;
       }
     }

     .newsletter-form {
       position: relative;

       .form-group {
         margin-bottom: 0;

         input {
           height: 60px;
           border-radius: 60px;
           padding: 0 185px 0 30px;
           outline: none;
           color: $lightDark;
           font-weight: 400;
           border: none;

           &:focus {
             box-shadow: none;
           }
         }
       }

       .mybtn2 {
         height: 48px;
         position: absolute;
         top: 6px;
         right: 6px;

         @media (max-width:575px) {
           span {
             display: none;
           }
         }
       }
     }
   }

   /* Contact Section */
   .contact-section {
     background: $white;
     padding: 80px 0 80px;

     .contact-form {
       .form-group {
         margin-bottom: 20px;

         textarea {
           height: 120px;
         }

         input {
           height: 50px;
         }

         .form-control {
           color: $lightDark;
           border: none;
           border-bottom: 2px solid #d9d9d9;
           border-radius: 0px;
           transition: all 0.5s ease;

           &:focus {
             box-shadow: none;
           }
         }
       }
     }

     .contact-item {
       position: relative;
       padding-left: 65px;
       margin-bottom: 35px;

       .icon {
         height: 50px;
         width: 50px;
         background: #f5f5f5;
         border-radius: 50%;
         text-align: center;
         position: absolute;
         left: 0;
         top: 0;

         i {
           line-height: 50px;
           font-size: 20px;
         }
       }

       h5 {
         font-size: 16px;
         font-weight: 600;
         line-height: 26px;
         margin: 0 0 2px;
       }

       p {
         font-size: 16px;
         font-weight: 400;
         line-height: 26px;
         color: $lightDark;
         margin: 0;
       }
     }
   }

   /* Footer Section */
   .footer {
     padding-top: 80px;
     text-align: center;

     .footer-logo {
       a {
         font-size: 30px;
         font-weight: 700;
         color: $white;
         text-transform: uppercase;
         display: block;
         margin: 0 0 15px;
       }
     }

     .footer-text {
       p {
         font-size: 16px;
         line-height: 26px;
         color: #eeeeee;
         font-weight: 400;
         margin: 0 0 25px;
       }
     }

     .footer-social-links {
       margin-bottom: 80px;

       a {
         display: inline-block;
         text-align: center;
         margin: 0 4px;

         &:hover {
           i {
             background: $white;
           }
         }

         i {
           height: 40px;
           width: 40px;
           border: 1px solid $white;
           display: block;
           color: $white;
           line-height: 38px;
           border-radius: 50%;
           transition: all 0.5s ease;
         }
       }
     }

     .copyright {
       border-top: 1px solid rgba(255, 255, 255, 0.1);
       padding: 20px 15px;

       p {
         margin: 0;
         font-size: 16px;
         line-height: 26px;
         color: #eeeeee;
         font-weight: 400;
       }
     }
   }
 }